{% extends 'home/base.html' %}

{%block encabezado %}
<!-- Start: Navigation wrapper -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{% url vista_home %}"><img src="/static/img/logoLinkJobs.png" width="111" height="30" alt="LinkJobs logo"/></a>
      <!-- Below button used for responsive navigation -->
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Start: Primary navigation -->
      <div class="nav-collapse collapse">        
        <ul class="nav pull-right">
          <li><p><br/> ¿Ya tienes una cuenta?</p></li>
          <li><a href="{% url vista_login %}">Iniciar sesión</a></li> 
        </ul>
      </div>
    </div>   
  </div>
</div>
<!-- End: Navigation wrapper -->
{% endblock %}


{%block contenido %}
<!-- Start: HOME CONTENT -->
    <div class="homecontent">
      <!-- Start: slider-->
      <div class="slider">
        <div class="container-fluid">  
          <div id="slider">
            <div class="viewer">
              <div class="reel">
                <div class="slide">
                  <h2><img src="/static/img/logoLinkJobs.png" width="260" height="40" alt="LinkJobs logo"/></h2>
                  <p>Descubre el puesto de trabajo que tanto buscas.</p>
                  <q><a href="{% url vista_signup %}" class="big2btn">Únete a LinkJobs</a></q>
                  <img src="/static/img/pic1.jpg" alt="banner1" /> 
                </div>
                <div class="slide">
                  <h2>Conecta tu CV</h2>
                  <p>Busca las empresas en las que te gustaría trabajar en 140 caracteres.</p>
                  <q><a href="{% url vista_signup %}" class="big2btn">Únete a LinkJobs</a></q>
                  <img src="/static/img/pic2.jpg" alt="banner2" /> 
                </div>
                <div class="slide">
                  <h2>Conecta tu empresa</h2>
                  <p>Busca el candidato ideal para el puesto de trabajo que ofertas.</p>
                  <q><a href="{% url vista_signup %}" class="big2btn">Únete a LinkJobs</a></q>
                  <img src="/static/img/pic3.jpg" alt="banner3" /> 
                </div>
              </div>
            </div>
            <div class="indicator">
              <ul>
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
              </ul>
            </div>
            </br>
            </br>
          </div> <!-- end id=slider-->
          <script type="text/javascript">
            $('#slider').slidertron({
              viewerSelector: '.viewer',
              reelSelector: '.viewer .reel',
              slidesSelector: '.viewer .reel .slide',
              advanceDelay: 8000,  /* Duracion deslizar */
              speed: 'slow',
              navPreviousSelector: '.previous-button',
              navNextSelector: '.next-button',
              indicatorSelector: '.indicator ul li',
              slideLinkSelector: '.link'
            });
          </script>
        </div>
      </div>
      <!-- Start: CONTAINER -->
      <div class="container">
        <div class="marketing">
          <h1> ¡Presentamos LinkJobs!</h1>
          <p class="marketing-byline">¿Necesitas razones para registrarte en LinkJobs? Mira abajo.</p>
          <hr class="soften">
          <div class="row-fluid">
            <div class="span4"> <img src="/static/img/perfil.png" alt="Perfil">
              <h2> <span class="firstword">Crea tu perfil</span> </h2>
              <p align="justify" class="features"> Sigue a las compañías y a las personas responsables de contratación o recursos humanos con las que te gustaría trabajar. Tuitea tu interés utilizando hashtags, retuitea y conversa con esos responsables de las empresas y también con empleados.</p>
            </div>
            <div class="span4"> <img src="/static/img/creativo.png" alt="Creativo">
              <h2> <span class="firstword">Sé auténtico</span></h2>
              <p align="justify"> Utiliza tu perfil para dejar muy claro que estás buscando empleo, ese es tu empleo principal hasta que lo encuentres. Puedes compartir enlaces, opiniones, fotos e incluso vídeos cortos a tus amigos y contactos.</p>
            </div>
            <div class="span4"> <img src="/static/img/cv.png" alt="Curriculo">
              <h2> <span class="firstword">Comparte tu CV</span></h2>
              <p align="justify"> Crea un 'currículo' de 140 caracteres que incluya una introducción concisa que describa tus habilidades, en qué estás interesado y cómo se puede obtener más información acerca de ti.</p>
            </div>
          </div>
          </br>
          </br>  
        </div>
      </div>
      <!-- End: CONTAINER -->
    </div> 
    <!-- End: HOME CONTENT -->
{% endblock %}
    
