{% extends 'home/base.html' %}

{% block titulo %} - Privacidad {% endblock %}

{%block encabezado %}
<!-- Start: Navigation wrapper -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{% url vista_home %}"><img src="/static/img/logoLinkJobs.png" width="111" height="30" alt="LinkJobs logo"/></a>
      <!-- Below button used for responsive navigation -->
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- Start: Primary navigation -->
      <div class="nav-collapse collapse">        
        <ul class="nav pull-right">
          <li><p><br/> ¿Ya tienes una cuenta?</p></li>
          <li><a href="{% url vista_login %}">Iniciar sesión</a></li> 
        </ul>
      </div>
    </div>   
  </div>
</div>
<!-- End: Navigation wrapper -->
{% endblock %}

{% block contenido %}
<div class="contenido">   
    <div class="container">
	<h3>
		<strong>POL&Iacute;TICA DE PRIVACIDAD Y PROTECCI&Oacute;N DE DATOS PERSONALES</strong></h3>
	<p><br />
		Antes de crear un Perfil y pasar a ser un usuario de la plataforma social privada LinkJobs (en adelante, tambi&eacute;n denominada &quot;el Servicio&quot;), titularidad de LinkJobs TECHNOLOGIES, S.L. (en adelante, &quot;LinkJobs&quot;), debes leer esta Pol&iacute;tica de Privacidad y Protecci&oacute;n de Datos Personales (en adelante, &quot;Pol&iacute;tica de Privacidad&quot;) y aceptarla marcando la casilla establecida en el formulario de registro de LinkJobs o mediante el procedimiento equivalente que se establezca, en su caso.<br />
		<br />
		Nuestra Pol&iacute;tica de Privacidad afecta tanto a la informaci&oacute;n personal que nos proporcionas al crearte un Perfil como a todos los datos que nos facilites al acceder a cualquiera de los servicios disponibles en la plataforma social privada de LinkJobs, durante el tiempo que tengas un Perfil<br />
		<br />
		Los datos que aportas a LinkJobs son incluidos en nuestros ficheros registrados ante la Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos (en adelante, &ldquo;AEPD&rdquo;). La AEPD se encarga de velar por el cumplimiento de las leyes espa&ntilde;olas sobre privacidad y protecci&oacute;n de datos y de garantizar la seguridad y privacidad de tus datos personales.<br />
		<br />
		LinkJobs recoge y trata tus datos para identificarte como usuario del Servicio y para darte acceso a los servicios, funcionalidades y aplicaciones m&oacute;viles que ponemos a tu disposici&oacute;n. Antes de empezar a usar cualquier nuevo servicio o funcionalidad de la plataforma social privada de LinkJobs, recuerda leer en nuestras Condiciones de uso la secci&oacute;n espec&iacute;fica sobre ese servicio. All&iacute; tambi&eacute;n encontrar&aacute;s informaci&oacute;n sobre si tratamos tus datos y c&oacute;mo lo hacemos para cada servicio y funcionalidad.<br />
		<br />
		Al marcar la casilla en el formulario de registro, est&aacute;s tambi&eacute;n dando tu consentimiento expreso para recibir informaci&oacute;n de LinkJobs por v&iacute;as tales como la propia plataforma social privada LinkJobs; mensajes que enviemos por medios electr&oacute;nicos a tu cuenta de correo electr&oacute;nico; mensajes SMS, MMS o llamadas a tu tel&eacute;fono m&oacute;vil, as&iacute; como por correo postal, tanto sobre cambios y actualizaciones relacionadas con LinkJobs como sobre actividades, productos, servicios, ofertas, promociones especiales, etc. correspondientes a los sectores de Internet, las tecnolog&iacute;as de la informaci&oacute;n y las telecomunicaciones. Esta informaci&oacute;n podr&aacute; encontrarse segmentada en funci&oacute;n de la informaci&oacute;n que nos proporciones (tu edad, localizaci&oacute;n, sexo, entre otras), con el objetivo de darte un servicio personalizado e informaci&oacute;n relevante.<br />
		<br />
		Recuerda que puedes oponerte en cualquier momento a recibir comunicaciones de LinkJobs para fines comerciales y promocionales, incluyendo por medios electr&oacute;nicos, contact&aacute;ndonos a trav&eacute;s de <a href="mailto:unsubscribe@linkjobs.com">unsubscribe@linkjobs.com</a>.<br />
		<br />
		Al utilizar el Servicio, ver&aacute;s informaci&oacute;n, promociones y ofertas de terceras empresas con las que LinkJobs colabora. Tambi&eacute;n podr&aacute;s acceder a eventos patrocinados. Estos eventos son actividades patrocinadas por LinkJobs y/o terceras empresas que ponemos a tu disposici&oacute;n para que puedas participar.<br />
		<br />
		LinkJobs se preocupa por garantizar la seguridad y confidencialidad de tus datos. Por eso, hemos adoptado numerosas medidas de seguridad y medios t&eacute;cnicos para evitar su p&eacute;rdida, mal uso o su acceso sin tu autorizaci&oacute;n.<br />
		<br />
		Como usuario del Servicio tienes derecho a acceder a tus datos personales para saber c&oacute;mo los tratamos y con qu&eacute; finalidad y decirnos si no quieres que usemos tus datos para una actividad concreta. Adem&aacute;s, podr&aacute;s rectificar cualquier error en tus datos si ves que no son correctos o exactos e incluso podr&aacute;s pedirnos que los cancelemos si quieres dejar de ser usuario de la plataforma social privada de LinkJobs.<br />
		<br />
		Para todo ello puedes contactar con LinkJobs a trav&eacute;s de <a href="mailto:privacidad@linkjobs.com">privacidad@linkjobs.com</a>. Te informamos de que para realizar cualquiera de las acciones indicadas, deber&aacute;s remitirnos una copia de tu documento oficial de identidad (D.N.I., N.I.E. o Pasaporte) de modo que podamos verificar la identidad de la persona que se pone en contacto con nosotros<br />
		&nbsp;</p>
	<h4>
		<strong>USUARIO Y PERFILES</strong></h4>
	<p><br />
		Para poder ser usuario de la plataforma social privada LinkJobs es necesario que antes hayas recibido en tu correo electr&oacute;nico y/o tel&eacute;fono m&oacute;vil una invitaci&oacute;n de un contacto o amigo que ya sea usuario de LinkJobs, o hayas solicitado tu alta a trav&eacute;s de otro medio alternativo, establecido por LinkJobs para que entres a formar parte del Servicio de forma segura.<br />
		<br />
		Una vez que hayas aceptado la invitaci&oacute;n de tu contacto o amigo, o cumplido el proceso de solicitud y verificaci&oacute;n alternativa establecidos en nuestro sitio web, alojado bajo los nombres de dominio <a href="http://0.0.0.0:8000/">www.linkjobs.com</a>, <a href="http://0.0.0.0:8000/">www.linkjobs.es</a>, m.linkjobs.com, m.linkjobs.es (en adelante, &quot;sitio web&quot;) es necesario que te registres y para ello deber&aacute;s rellenar el formulario Web con los datos personales que se indiquen.<br />
		<br />
		Si quieres, podr&aacute;s dar voluntariamente a LinkJobs m&aacute;s informaci&oacute;n relacionada contigo, como, por ejemplo, tu foto, direcci&oacute;n, tus gustos, aficiones o similares.<br />
		<br />
		Esta informaci&oacute;n estar&aacute; disponible y podr&aacute; ser modificada por ti a trav&eacute;s de tu Perfil.<br />
		<br />
		Tener un Perfil en la plataforma social privada LinkJobs supone que tienes que ser t&uacute; en todo momento y que no te puedas hacer pasar por nadie. Tienes que ser totalmente responsable y debes introducir tus datos reales, veraces y actualizados. Desde LinkJobs procuraremos comprobar la veracidad de tus datos y nos reservamos, sin perjuicio de otras acciones, el derecho a no registrarte o a darte de baja si los datos que nos has facilitado son falsos o incompletos. La obligaci&oacute;n de tener un Perfil real es esencial en el Servicio. Asimismo, te informamos de que en LinkJobs, como plataforma social privada, nos reservamos el derecho de admisi&oacute;n, teniendo la facultad de cancelar unilateralmente los perfiles que no nos parezcan adecuados por su contenido en relaci&oacute;n con el Servicio.<br />
		<br />
		Cuando te registras en la plataforma social privada LinkJobs, tienes un Perfil en el que cuelgas y compartes, como quieras, y con qui&eacute;n desees, tu informaci&oacute;n personal real. La informaci&oacute;n personal ser&aacute; compartida en el Servicio con las condiciones o niveles de privacidad que t&uacute; mismo elijas y bajo tu exclusivo control.<br />
		<br />
		Te corresponde a ti controlar, en todo momento, tu informaci&oacute;n personal por eso te pedimos y recomendamos que seas cuidadoso con la informaci&oacute;n personal que compartes y con qui&eacute;n la compartes. Adem&aacute;s, como usuario del Servicio nos tienes que informar de cualquier cambio que se produzca en los datos que nos has dado. Para ello, puedes acceder, en el apartado de Opciones que figura en la parte superior de tu Perfil: &quot;Preferencias&quot; &gt; &quot;Informaci&oacute;n personal&quot; y all&iacute; realizar t&uacute; mismo los cambios que quieras.<br />
		&nbsp;</p>
	<h4>
		<strong>EDAD M&Iacute;NIMA PARA TENER PERFIL</strong></h4>
	<p><br />
		Es muy importante que sepas que&nbsp;el acceso al Servicio est&aacute; PROHIBIDO a los menores de 14 a&ntilde;os que no cuenten con la correspondiente autorizaci&oacute;n parental, por tanto, al aceptar esta Pol&iacute;tica de Privacidad, garantizas que eres mayor de esa edad o, en caso contrario, que cuentas con la mencionada autorizaci&oacute;n de tus padres o tutores legales para estar en LinkJobs y te responsabilizas enteramente de esa declaraci&oacute;n.<br />
		<br />
		El equipo de LinkJobs puede ponerse en contacto contigo, en cualquier momento, para que demuestres tu edad real aport&aacute;ndonos fotocopia de tu D.N.I. o un documento equivalente. Si no nos das esa documentaci&oacute;n dentro del plazo que te digamos, desde LinkJobs nos reservamos el derecho a bloquear o cancelar tu Perfil.<br />
		<br />
		Los datos del D.N.I. o del documento que se aporte por el usuario ser&aacute;n utilizados &uacute;nica y exclusivamente por el personal autorizado de LinkJobs para realizar esta tarea de identificaci&oacute;n y de verificaci&oacute;n de los datos proporcionados y, en ning&uacute;n caso, se almacenar&aacute;n o tratar&aacute;n para otro fin.<br />
		<br />
		Si tienes entre 14 y 18 a&ntilde;os, te recomendamos que informes y consultes con tus padres o tutores legales a la hora de transmitir informaci&oacute;n a otros usuarios con los que hayas contactado a trav&eacute;s del Servicio.<br />
		<br />
		Si somos informados de que un menor de 14 a&ntilde;os est&aacute; registrado como usuario en el Servicio, adoptaremos las medidas necesarias para verificar si cuenta o no con autorizaci&oacute;n parental y podremos bloquear y/o eliminar el Perfil de usuario.<br />
		<br />
		En l&iacute;nea con lo anterior y de conformidad con lo dispuesto en la normativa vigente, LinkJobs podr&aacute;, de forma excepcional, admitir el registro en la plataforma social privada LinkJobs de usuarios menores de 14 a&ntilde;os, siempre y cuando se facilite a LinkJobs la debida autorizaci&oacute;n parental firmada por el padre, madre y/o tutor legal del menor que desea registrarse y acceder al Servicio, junto con toda la documentaci&oacute;n que sea pertinente o necesaria para verificar su autenticidad y validez. A modo de ejemplo, copia del D.N.I. / Pasaporte en vigor del padre, madre y/o tutor legal, copia del Libro de Familia o documento equivalente, as&iacute; como copia del D.N.I. / Pasaporte en vigor del menor, si lo hubiere.&nbsp;<br />
		<br />
		Con el fin de facilitar este tr&aacute;mite de otorgaci&oacute;n de autorizaci&oacute;n parental a las personas que est&eacute;n interesadas, pueden acceder al modelo de autorizaci&oacute;n parental de LinkJobs que se deber&aacute; cumplimentar al efecto, pinchando en el siguiente&nbsp;enlace.<br />
		<br />
		Te pedimos que cualquier abuso o vulneraci&oacute;n de nuestras Condiciones de uso que detectes y, en particular, aquellos que afecten a menores, nos lo digas inmediatamente a trav&eacute;s de este&nbsp;formulario.</p>
	<h3>
		&nbsp;</h3>
	<h4>
		<strong>NIVELES DE PRIVACIDAD</strong></h4>
	<p><br />
		LinkJobs pone a tu disposici&oacute;n distintas opciones de privacidad que podr&aacute;s configurar para garantizar la seguridad de tus datos. De esta manera, ser&aacute;s t&uacute; qui&eacute;n, bajo tu exclusiva responsabilidad decidas, por tu cuenta y riesgo, qui&eacute;n tiene acceso a tu informaci&oacute;n personal.<br />
		<br />
		Ten en cuenta que la configuraci&oacute;n de tu privacidad por defecto est&aacute; establecida en &ldquo;S&oacute;lo amigos&rdquo; que supone: (i) que s&oacute;lo las personas que hayas aceptado como amigos tendr&aacute;n acceso a tus datos e informaci&oacute;n compartida en tu Perfil, incluidas tus fotos y tus n&uacute;meros de tel&eacute;fono, y (ii) que las personas que hayas a&ntilde;adido como contactos y que a&uacute;n no tengan la condici&oacute;n de amigos en la plataforma social LinkJobs, s&oacute;lo podr&aacute;n acceder a tus datos meramente identificativos como es, por ejemplo, tu nombre y apellidos y tu fotograf&iacute;a principal de Perfil, en el caso de que la publiques.<br />
		<br />
		No obstante, en el apartado de configuraci&oacute;n de tu privacidad en el sitio web te ofrecemos tres opciones diferentes para que puedas decidir, de forma sencilla mediante su activaci&oacute;n o desactivaci&oacute;n, qu&eacute; concreta informaci&oacute;n deseas compartir con tus amigos de la plataforma social privada LinkJobs en cada momento.</p>
	<ul>
		<li>
			Tus amigos pueden ver tu tabl&oacute;n.</li>
		<li>
			Tus amigos pueden descargarse tus fotos.</li>
		<li>
			Tus amigos pueden ver tus n&uacute;meros de tel&eacute;fono.</li>
	</ul>
	<p><br />
		Si decides no compartir esta informaci&oacute;n con las personas que formen parte de tu red de amigos dentro de la plataforma social privada LinkJobs, tu informaci&oacute;n se mantendr&aacute; privada y s&oacute;lo podr&aacute; ser vista por ti.<br />
		<br />
		Adicionalmente, te ofrecemos un nivel m&aacute;s de privacidad, donde podr&aacute;s controlar qui&eacute;n puede enviarte mensajes privados a trav&eacute;s de la plataforma social privada LinkJobs dentro de las tres categor&iacute;as siguientes:</p>
	<ul>
		<li>
			S&oacute;lo amigos. Supone que s&oacute;lo tus amigos podr&aacute;n enviarte mensajes privados. Sin perjuicio de ello, ten en cuenta que aquellos contactos que hayas aceptado en cada momento y en tanto en cuanto no les incluyas en tu lista de &ldquo;Usuarios bloqueados&rdquo;, podr&aacute;n enviarte mensajes de chat o mensajer&iacute;a instant&aacute;nea.</li>
		<li>
			Amigos de amigos. Supone que tus amigos y los amigos aceptados por cada uno de ellos, podr&aacute;n enviarte mensajes privados. Igualmente, te informamos que tus contactos que no hayas incluido en tu lista de &ldquo;Usuarios bloqueados&rdquo;, &uacute;nicamente podr&aacute;n enviarte mensajes de chat o mensajer&iacute;a instant&aacute;nea.</li>
		<li>
			Todo LinkJobs. Supone que todas las personas con Perfil en el Servicio podr&aacute;n enviarte mensajes privados a trav&eacute;s de la plataforma social privada LinkJobs, con independencia de que &eacute;stos formen parte o no de tu red de contactos y/o de amigos en la plataforma social privada de LinkJobs.</li>
	</ul>
	<p><br />
		Asimismo, tendr&aacute;s la posibilidad de bloquear a otros usuarios no deseados, bloquear, bloquear aquellas fotos en las que no deseas ser etiquetado, as&iacute; como bloquear invitaciones a juegos y eventos, si as&iacute; lo deseas.<br />
		<br />
		Igualmente, ten en cuenta que, por defecto para todos los usuarios de LinkJobs, las tres opciones de configuraci&oacute;n de tu privacidad indicadas anteriormente se encuentran activadas y la recepci&oacute;n de mensajes privados est&aacute; limitada a &ldquo;S&oacute;lo amigos&rdquo;. T&uacute; eres el &uacute;nico responsable de las opciones de privacidad que elijas en cada momento.<br />
		<br />
		En caso de que LinkJobs a&ntilde;adiese opciones de privacidad adicionales, ser&aacute;s oportunamente informado de ello conforme a lo aqu&iacute; establecido. LinkJobs no ser&aacute; responsable, en ning&uacute;n caso, de cualquier reclamaci&oacute;n relacionada con las opciones de privacidad elegidas y con el acceso a tu informaci&oacute;n por parte de otros usuarios.<br />
		<br />
		LinkJobs no controla y, por tanto, no asume ninguna responsabilidad en la posible recogida y tratamiento de informaci&oacute;n de usuarios por parte de otros usuarios o por terceros.<br />
		<br />
		Adem&aacute;s, tienes que saber que en la plataforma social privada LinkJobs hay un buscador que te permite buscar a otros usuarios miembros del Servicio. En las b&uacute;squedas generales que los usuarios registrados realicen por los perfiles de la plataforma social privada LinkJobs no se tiene acceso a la informaci&oacute;n del Perfil de los usuarios. En estos casos, la &uacute;nica informaci&oacute;n que se comparte totalmente y se muestra como presentaci&oacute;n ser&aacute; el nombre del usuario, y, en su caso, la foto que el usuario decida colgar como foto principal de su Perfil. Esta misma informaci&oacute;n tambi&eacute;n ser&aacute; accesible dentro de los eventos, en relaci&oacute;n a los usuarios que hubieran indicado su intenci&oacute;n de acudir o &quot;quiz&aacute;s acudir&quot; al evento.<br />
		&nbsp;</p>
	<h4>
		<strong>CONTENIDOS E INFORMACI&Oacute;N PERSONAL</strong></h4>
	<p><br />
		Adem&aacute;s de datos personales, podr&aacute;s compartir en tu Perfil, textos, fotos, v&iacute;deos&hellip; y otro tipo de informaci&oacute;n que estar&aacute; sujeta a las Condiciones de uso de LinkJobs.<br />
		<br />
		LinkJobs no controla la informaci&oacute;n que compartes con otros usuarios y por tanto no nos hacemos responsable de esa informaci&oacute;n. No obstante, si sabes que hay una informaci&oacute;n o contenido en la plataforma social privada LinkJobs que pueda ser indebido y ser contrario a nuestra Pol&iacute;tica de Privacidad y/o nuestras Condiciones de uso, ponte en contacto con nosotros a trav&eacute;s de este&nbsp;formulario.<br />
		&nbsp;</p>
	<h4>
		<strong>BAJA EN EL SERVICIO</strong></h4>
	<p><br />
		Puedes desactivar de forma temporal tu Perfil o bien darlo de baja de forma definitiva a trav&eacute;s del sitio web de LinkJobs, siguiendo los siguientes pasos.</p>
	<ul>
		<li>
			Para desactivar tu cuenta en la plataforma social privada LinkJobs s&oacute;lo tienes que entrar en el apartado de Opciones que figura en la parte superior de tu Perfil y una vez all&iacute; pinchar en &quot;Preferencias&quot; &gt;&nbsp;&quot;Cuenta&quot;&nbsp;y pulsar el bot&oacute;n &quot;Desactivar cuenta&quot; que encontrar&aacute;s al final de la p&aacute;gina.</li>
		<li>
			Para dar de baja de forma definitiva tu cuenta en el Servicio, entra aqu&iacute;. Ten en cuenta que, si eliges esta opci&oacute;n, perder&aacute;s toda la informaci&oacute;n de tu cuenta (p.ej.: amigos, fotos, comentarios en el tabl&oacute;n, etc.).</li>
		<li>
			Para cualquier duda que tengas puedes contactar con nosotros a trav&eacute;s de este&nbsp; formulario.</li>
	</ul>
	<h4>
		<br />
		<strong>COOKIES</strong></h4>
	<p><br />
		Para poder gestionar t&eacute;cnicamente tu acceso y uso del Servicio una vez registrado en el mismo, LinkJobs debe utilizar cookies mientras navegas por nuestro sitio web. En este sentido, te informamos que para poder utilizar los distintos servicios y funcionalidades de la plataforma social privada LinkJobs es estrictamente necesario que tengas habilitadas las cookies en tu navegador de Internet.<br />
		<br />
		Como sabes, dichas cookies son peque&ntilde;os ficheros de datos que se alojan en tu ordenador, como usuario registrado del Servicio, y que contienen cierta informaci&oacute;n de las visitas que haces al sitio web de LinkJobs.<br />
		<br />
		LinkJobs utiliza cookies con el fin de facilitar tu navegaci&oacute;n. En concreto, por medio de estas cookies, LinkJobs podr&aacute; identificarte como usuario registrado en el Servicio cada vez que accedas al mismo, permiti&eacute;ndose as&iacute; el acceso y uso a las &aacute;reas o secciones, servicios, funcionalidades y/o promociones del sitio web establecidas especialmente para este colectivo.<br />
		<br />
		En ning&uacute;n caso, es posible asociar las cookies a tus datos personales concretos, ni identificarte a trav&eacute;s de ellas. Adem&aacute;s, te recordamos que como usuario tienes la posibilidad de desactivar las cookies cuando lo desees, a trav&eacute;s de la configuraci&oacute;n de tu navegador de Internet.<br />
		<br />
		En caso de duda y para ampliar informaci&oacute;n a este respecto, te recomendamos que consultes las distintas opciones que pudiesen encontrarse disponibles en el navegador de Internet que utilices para acceder a la plataforma social privada LinkJobs en cada momento. A modo de ejemplo, entre otros, nos referimos a Internet Explorer, Firefox y/o Safari.<br />
		&nbsp;</p>
	<h4>
		<strong>INFORMACI&Oacute;N CORPORATIVA</strong></h4>
	<p><br />
		LinkJobs TECHNOLOGIES, S.L. (en adelante, LinkJobs) es una sociedad mercantil cuyo domicilio social se encuentra en Madrid (Espa&ntilde;a), Plaza de la Cortes, 2, 4&ordm;, C.P.: 28014. Direcci&oacute;n electr&oacute;nica de contacto <a href="mailto:comunicacion@linkjobs.com">comunicacion@linkjobs.com</a> y Tel&eacute;fono: +34 91 429 40 39.<br />
		<br />
		Para cuestiones o consultas relacionadas con el Servicio M&oacute;vil de LinkJobs, puedes ponerte en contacto con nosotros a trav&eacute;s del n&uacute;mero 22020 llamando desde un terminal m&oacute;vil de LinkJobs, mediante la direcci&oacute;n electr&oacute;nica de contacto <a href="mailto:soportemovil@linkjobs.com">soportemovil@linkjobs.com</a> o bien, si prefieres recibir atenci&oacute;n personalizada, a trav&eacute;s de chat accediendo a la pesta&ntilde;a &quot;M&oacute;vil&quot; de tu perfil en el Servicio.<br />
		<br />
		Asimismo, a los &uacute;nicos efectos de facilitar la presentaci&oacute;n de posibles reclamaciones sobre nuestro Servicio M&oacute;vil, LinkJobs tambi&eacute;n pone a disposici&oacute;n de sus clientes el n&uacute;mero 902900770, sin perjuicio de la posibilidad que tienen &eacute;stos de presentarlas on-line v&iacute;a chat de forma r&aacute;pida y sencilla.<br />
		<br />
		LinkJobs est&aacute; debidamente inscrita en el Registro Mercantil de Tenerife (Espa&ntilde;a), Tomo 19001, Folio 12, Hoja M-123964 y su n&ordm; de C.I.F. es el B83685219.<br />
		<br />
		&copy; LinkJobs, 2013.</p>
	
</div>
</div>
{% endblock %}



