
#id_post {
	margin: 0px 0px 9px;
	width: 505px;
	height: 60px;
	resize: none;
}

#boton_subir {
	width: 80px;
	height: 25px;
}

#boton_cerrar {
	width: 60px;
	height: 17px;
}

#id_photo {
	display:block;
	width: 145px;

}
