{% extends 'perfil/base.html' %}

{% block titulo %} Log In {% endblock %}

{% block contenido %}
<div class="contenido">
<div class= container-fluid>
  <div class="row-fluid">
    <div class="span10">
      <div class= span4 align = left>
        <br>
        <img src="/static/img/pic4.jpg" width="200" height="100" class="img-rounded" />
        <br>
        <br>
        <p><b>Nombre:</b> </p>
        <p><b>Apellidos:</b> </p>
        <p><b>Email:</b> </p>
        <p><b>Profesion:</b> </p>
        <p>SU CURRICULUM</p>
      </div>

      <div class= span6 align= left>
        <h1> Perfil de Usuario: </h1>
          <hr> 
      </div>
    </div>


    <div class= span2 align= left>
      
      <h4> Sugerencias </h4>
          
    </div>
  </div>
  </div>
</div>


{% endblock %}

