{% extends 'perfil/base.html' %}

{% block titulo %} Log In {% endblock %}


{% block contenido %}
<div class="contenido">
<div class= container-fluid>
  <div class="row-fluid">
    <div class="span10">
      <div class= span4 align = left>
        <br>
        <a href="{% url vista_subirImagen user.username %}"><img src="/static/{{user.photo}}" width="200" height="100" class="img-rounded" /> </a>
        <br>
        {% if valido %}
          <form method="post" enctype="multipart/form-data">
            {%csrf_token %}
            {{FormularioImagen.photo}}
            <input id="boton_subir" type="submit" value="Subir" class="btn btn-small btn-primary" align="middle"/>
            <a href="{% url vista_perfil user.username %}"><input id="boton_cerrar" value="Cerrar" class="btn btn-small btn-primary"/> </a>
          </form>

        {% endif %}
        <br>
        <p><b>Nombre:</b> {{user.nombre}}</p>
        <p><b>Apellidos:</b> {{user.apellidos}}</p>
        <p><b>Email:</b> {{user.email1}}</p>
        {% if user.profesion != "" %}
          <p><b>Profesion:</b> {{user.profesion}}</p>
        {% endif %}
        <a href="{% url vista_curriculum user.username %}"><p>TU CURRICULUM</p></a>
        {%if completado %}        
          <a href="{% url vista_curriculum user.username completado %}"><input value="Añade tu Curriculum" class="btn btn-small btn-primary"/> </a>
        {% endif %}

      </div>

      <div class= span6 align= left>
        <h1>Te Siguen: </h1>
        <hr>
        {% for a in siguen %}
          <p><a> <img src="/static/{{a.photo}}" width="50" height="40" class="img-rounded"/></a> {{a.nombre}} {{a.apellidos}}
            {{c.user.username}}</p></p>
          <p>{{a.profesion}}<p>
          <a href="{% url vista_seguir user.username a.id %}"><button class="btn btn-mini btn-primary" type="button" align = left >Seguir</button></a>
          <hr>
        {%endfor%}
      </div>
    </div>

    <div class= span2 align= left>
      <h4>Buscador</h4>
      <form class="form-search">
        <input type="text" class="input-medium search-query">
        <br>
        <br>
        <button type="submit" class="btn">Buscar</button>
      </form>  
      <h4> Sugerencias </h4>
      <hr>
      {% for c in allUser %}
        <p><a> <img src="/static/{{c.photo}}" width="30" height="20" class="img-rounded"/></a> {{c.nombre}} {{c.apellidos}}</p>
        <p>{{c.profesion}}<p>
        <a href="{% url vista_seguir user.username c.id %}"><button class="btn btn-mini btn-primary" type="button" align = left >Seguir</button></a>

        <hr>
      {%endfor%}
    </div>
  </div>
  </div>
</div>

{% endblock %}
